In [1]:
import pandas as pd
import psycopg2

In [2]:
conn = psycopg2.connect(
    host="localhost",
    database="gastos",
    user="postgres",
    password="postgres")

In [3]:
query = '''
select subcategoria from public.subcategoria;
'''

In [4]:
df = pd.read_sql_query(query,con=conn)

In [5]:
df

                                        subcategoria
0  UNKNOWN                                       ...
1  INVALID                                       ...
2  SUBCAT1                                       ...
3  SUBCAT2                                       ...
4  SUBCAT4                                       ...

In [16]:
df.subcategoria.str.strip().isin(["UNKNOWN", "INVALID", "SUBCAT1", "SUBCAT2", "SUBCAT4"]).all()

True